@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root{
    --bg-color:#3c3c44;
    --text:#fff;
    --mainColor:#91c809;
    --btnText:#334703;
    --containerBg:#303037;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: "Poppins",sans-serif;
    background: var(--bg-color)
}

.container{
    max-width: 800px;
    width: 100%;
    margin: auto;
    height: 210px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px 5px;
    background: var(--containerBg);
    animation: move .5s forwards;
}
/* .image{
    margin-top: 10px;
} */
img{
    object-fit: cover;
    width: 180px;
    height: 200px;
    border-radius: 10px 0 0 10px;
}
.text h1{
    font-size: 16px;
    width: 350px;
    padding-bottom: 1rem;
}
.text{
    color: var(--text);
    padding: 15px;
}
.text p{
    font-size: 12px;
    width: 300px;
    font-weight: 300;
    font-family: inherit;
    padding-bottom: 1rem;
}
input{
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #42424a;
    border-radius:5px;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 13px;
    color: var(--text);
}

input::placeholder{
    color: #7c7c80;
}
button{
    background: var(--mainColor);
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    color: var(--btnText);
}
.error{
    border: 1px solid red;
    animation: kf_shake 1s alternate;
}


@-webkit-keyframes kf_shake {
    0% { -webkit-transform: translate(3px); }
    20% { -webkit-transform: translate(-3px); }
    40% { -webkit-transform: translate(3px); }
    60% { -webkit-transform: translate(-3px); }
    80% { -webkit-transform: translate(1px); }
    100% { -webkit-transform: translate(0px); }
}

.wrapper{
    text-align: center;
    color: var(--text);
    background: var(--containerBg);
    border-radius: 10px;
    padding: 25px 25px;
    /* transition: .5s ease-in; */
    animation: move .5s forwards;
}
.wrapper img{
    width: 50px;
    height: 50px;
}
.wrapper h2{
    font-size: 18px;
}
.hidden{
    display: none;
}
#emailName{
    color: #91c809;
    font-size: 14px;
}
@keyframes move{
    0%{
        opacity: 0;
        transform: translateX(40px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}